<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Audible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>266F60A91D9589EB0099D9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>266F60BD1D9589EC0099D9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>266F60C81D9589EC0099D9B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
